@font-face {
  font-family: "SourceSans";
  src: url('fonts/source-sans/SourceSansPro-Regular.woff') format('woff'), url('fonts/source-sans/SourceSansPro-Regular.ttf') format('truetype'), url('fonts/source-sans/SourceSansPro-Regular.eot') format('embedded-opentype'), url('fonts/source-sans/SourceSansPro-Regular.svg') format('svg');
}

@font-face {
  font-family: "SourceSansBold";
  src: url('fonts/source-sans/SourceSansPro-Bold.woff') format('woff'), url('fonts/source-sans/SourceSansPro-Bold.ttf') format('truetype'), url('fonts/source-sans/SourceSansPro-Bold.eot') format('embedded-opentype'), url('fonts/source-sans/SourceSansPro-Bold.svg') format('svg');
}

/* line 7, ../sass/_standard.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 18, ../sass/_standard.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 22, ../sass/_standard.scss */
body {
  line-height: 1;
}

/* line 26, ../sass/_standard.scss */
ol, ul {
  list-style: none;
}

/* line 30, ../sass/_standard.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_standard.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_standard.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 45, ../sass/_standard.scss */
body {
  font-family: "SourceSans";
  min-height: 740px;
}

/*
    Now let's bring some text styles back ...
*/
/* line 53, ../sass/_standard.scss */
b, strong {
  font-weight: bold;
}

/* line 57, ../sass/_standard.scss */
i, em {
  font-style: italic;
}

/* line 61, ../sass/_standard.scss */
a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
  border-radius: 0.2em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 73, ../sass/_standard.scss */
a:hover,
a:focus {
  background: white;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}

@font-face {
  font-family: "Copystruct";
  src: url('fonts/copystruct/COPYN.woff') format('woff'), url('fonts/copystruct/COPYN.ttf') format('truetype'), url('fonts/copystruct/COPYN.eot') format('embedded-opentype'), url('fonts/copystruct/COPYN.svg') format('svg');
}

@font-face {
  font-family: "Bebas";
  src: url('fonts/bebas/BebasNeue.woff') format('woff'), url('fonts/bebas/BebasNeue.ttf') format('truetype'), url('fonts/bebas/BebasNeue.eot') format('embedded-opentype'), url('fonts/bebas/BebasNeue.svg') format('svg');
}

/* line 36, ../sass/style.scss */
.fallback-message p {
  margin-bottom: 10px;
}

/* line 40, ../sass/style.scss */
.impress-supported .fallback-message {
  display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/
/* line 50, ../sass/style.scss */
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  font-family: "SourceSans";
  font-size: 48px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
/* line 68, ../sass/style.scss */
.impress-enabled .step {
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -webkit-transition: opacity, 1s;
  -moz-transition: opacity, 1s;
  -o-transition: opacity, 1s;
  transition: opacity, 1s;
}
/* line 74, ../sass/style.scss */
.impress-enabled .step.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 81, ../sass/style.scss */
.container {
  height: 700px;
  width: 960px;
}

/* line 88, ../sass/style.scss */
#slide1 .container {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82251a), color-stop(100%, #eddfdd));
  background-image: -webkit-linear-gradient(#82251a, #eddfdd);
  background-image: -moz-linear-gradient(#82251a, #eddfdd);
  background-image: -o-linear-gradient(#82251a, #eddfdd);
  background-image: linear-gradient(#82251a, #eddfdd);
}
/* line 92, ../sass/style.scss */
#slide1 .content {
  background-image: url("../images/slide1-bg.png");
  width: 950px;
  height: 700px;
  position: relative;
  overflow: hidden;
}
/* line 99, ../sass/style.scss */
#slide1 .content::after {
  clear: both;
}
/* line 104, ../sass/style.scss */
#slide1 #arrow-text {
  font-family: "Copystruct";
  position: absolute;
  top: 50px;
  left: 40px;
  font-size: 26px;
  width: 383px;
  color: white;
  text-transform: uppercase;
}
/* line 117, ../sass/style.scss */
#slide1 .textbox {
  background-image: url("../images/slide1-yellow-textbox.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 525px;
  height: 310px;
  top: 220px;
  left: -30px;
}
/* line 126, ../sass/style.scss */
#slide1 .textbox .slide-text {
  line-height: 41px;
  font-family: "SourceSansBold";
  width: 430px;
  position: absolute;
  color: #AF2819;
  font-size: 40px;
  left: 40px;
  top: 40px;
  text-align: center;
}
/* line 139, ../sass/style.scss */
#slide1 .tvbox {
  background-image: url("../images/slide1-tv-box.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 350px;
  height: 350px;
  top: 415px;
  left: 430px;
}
/* line 148, ../sass/style.scss */
#slide1 .tvbox .youtube-container {
  padding-top: 7px;
  padding-left: 7px;
}

/* line 157, ../sass/style.scss */
#slide2 .content {
  background-image: url("../images/slide2-bg.png");
  width: 950px;
  height: 700px;
}
/* line 163, ../sass/style.scss */
#slide2 .slide-text {
  position: absolute;
  color: #AF2819;
  top: 325px;
  font-size: 30px;
  left: 150px;
}
/* line 170, ../sass/style.scss */
#slide2 .slide-text > :first-child {
  color: white;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
/* line 176, ../sass/style.scss */
#slide2 .slide-text > :first-child em {
  color: #DBBD2D;
  font-style: normal;
}
/* line 182, ../sass/style.scss */
#slide2 .slide-text > :last-child {
  margin-top: 45px;
  margin-left: 100px;
  font-size: 50px;
  color: #DBBD2D;
  font-family: "Bebas";
  text-shadow: black 3px 4px 1px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
/* line 194, ../sass/style.scss */
#slide2 #blue-arrow {
  background-repeat: no-repeat;
  height: 200px;
  width: 250px;
  position: absolute;
  top: 480px;
  right: -100px;
  background-image: url("../images/blue-arrow.png");
}

/* line 201, ../sass/style.scss */
#slide3 .container {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82251a), color-stop(100%, #eddfdd));
  background-image: -webkit-linear-gradient(#82251a, #eddfdd);
  background-image: -moz-linear-gradient(#82251a, #eddfdd);
  background-image: -o-linear-gradient(#82251a, #eddfdd);
  background-image: linear-gradient(#82251a, #eddfdd);
}
/* line 205, ../sass/style.scss */
#slide3 .content {
  background-image: url("../images/slide3-bg.png");
  width: 950px;
  height: 700px;
}
/* line 211, ../sass/style.scss */
#slide3 .slide-text {
  color: white;
  font-size: 22px;
  width: 700px;
  position: absolute;
  top: 115px;
  left: 200px;
  text-align: justify;
}

/* line 225, ../sass/style.scss */
#slide4 .content {
  width: 950px;
  height: 700px;
}
/* line 231, ../sass/style.scss */
#slide4 .yellow-text-box {
  position: absolute;
  width: 780px;
  height: 235px;
  background-image: url("../images/slide4-bg.png");
  background-repeat: no-repeat;
  top: 100px;
  left: 80px;
}
/* line 240, ../sass/style.scss */
#slide4 .yellow-text-box .slide-text {
  color: #333333;
  top: 50px;
  left: 30px;
}
/* line 249, ../sass/style.scss */
#slide4 .black-text-box {
  position: absolute;
  width: 780px;
  height: 235px;
  background-image: url("../images/black-textbox.png");
  background-repeat: no-repeat;
  top: 260px;
  left: 380px;
}
/* line 258, ../sass/style.scss */
#slide4 .black-text-box .slide-text {
  color: #f3d018;
  top: 60px;
  left: 105px;
  width: 440px;
}
/* line 267, ../sass/style.scss */
#slide4 .slide-text {
  font-size: 34px;
  position: absolute;
  font-family: SourceSansBold;
}

/* line 275, ../sass/style.scss */
#slide6 .top-section-container {
  position: relative;
}
/* line 279, ../sass/style.scss */
#slide6 .top-section {
  width: 700px;
  height: 377px;
  margin: auto;
}
/* line 284, ../sass/style.scss */
#slide6 .top-section .text-box {
  background-image: url("../images/yellow-text-area.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 100px;
  width: 800px;
  height: 225px;
  z-index: 2;
}
/* line 294, ../sass/style.scss */
#slide6 .top-section .text-box .text {
  font-size: 37px;
  font-family: "SourceSansBold";
  width: 685px;
  position: absolute;
  top: 58px;
  left: 41px;
  color: #333333;
  line-height: 45px;
}
/* line 306, ../sass/style.scss */
#slide6 .top-section .question {
  position: absolute;
  top: 200px;
  left: 160px;
  line-height: normal;
  font-family: Bebas;
  padding: 5px 25px 5px 10px;
}
/* line 315, ../sass/style.scss */
#slide6 .top-section .question span {
  color: #33A9DD;
}
/* line 319, ../sass/style.scss */
#slide6 .top-section .question > div {
  color: #333333;
}
/* line 325, ../sass/style.scss */
#slide6 #buy-buttons {
  height: 78px;
}
/* line 328, ../sass/style.scss */
#slide6 #buy-buttons .button {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 335, ../sass/style.scss */
#slide6 .buttons-container {
  width: 610px;
  margin: auto;
}
/* line 339, ../sass/style.scss */
#slide6 .buttons-container > a {
  display: block;
}
/* line 344, ../sass/style.scss */
#slide6 .nook {
  background-image: url("../images/nook-button.png");
  background-repeat: no-repeat;
  width: 132px;
  height: 36px;
}
/* line 351, ../sass/style.scss */
#slide6 .lulu {
  background-image: url("../images/lulu-button.png");
  background-repeat: no-repeat;
  width: 101px;
  height: 54px;
}
/* line 358, ../sass/style.scss */
#slide6 .ibook {
  background-image: url("../images/ibookstore-button.png");
  background-repeat: no-repeat;
  width: 116px;
  height: 38px;
}
/* line 365, ../sass/style.scss */
#slide6 .amazon {
  background-image: url("../images/amazon-button.png");
  background-repeat: no-repeat;
  width: 139px;
  height: 63px;
}
/* line 372, ../sass/style.scss */
#slide6 .purchase-option {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  margin: 10px auto;
  text-align: center;
  background-color: #82251A;
  width: 200px;
  font-size: 22px;
  color: #ffffff;
  font-family: Bebas;
}
/* line 387, ../sass/style.scss */
#slide6 .bottom-section {
  height: 220px;
}
/* line 390, ../sass/style.scss */
#slide6 .bottom-section .blue-bg-container {
  overflow: hidden;
  height: 350px;
}
/* line 394, ../sass/style.scss */
#slide6 .bottom-section .blue-bg-container .bottom-container {
  position: absolute;
  z-index: 1;
  left: 200px;
  margin-top: 40px;
}
/* line 401, ../sass/style.scss */
#slide6 .bottom-section .blue-bg-container .bottom-container .bottom-text {
  margin-top: -15px;
}
/* line 405, ../sass/style.scss */
#slide6 .bottom-section .blue-bg-container .bottom-container .bottom-text .red-text-area {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  text-align: center;
  background-color: #82251A;
  width: 120px;
  font-size: 22px;
  color: #ffffff;
  font-family: Bebas;
  float: left;
}
/* line 419, ../sass/style.scss */
#slide6 .bottom-section .blue-bg-container .bottom-container .bottom-text .contact {
  margin-left: 10px;
  margin-top: 5px;
  color: #ffffff;
  font-size: 18px;
  font-family: Bebas;
  float: left;
}
/* line 430, ../sass/style.scss */
#slide6 .bottom-section .blue-bg-container .bottom-container .yellow {
  width: 546px;
  height: 150px;
  background-image: url("../images/yellow-text-area-with-border.png");
  background-repeat: no-repeat;
}
/* line 436, ../sass/style.scss */
#slide6 .bottom-section .blue-bg-container .bottom-container .yellow .text {
  width: 405px;
  position: absolute;
  top: 25px;
  left: 80px;
  line-height: normal;
  font-family: Bebas;
  font-size: 30px;
  color: #217DA1;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
}
/* line 454, ../sass/style.scss */
#slide6 .bottom-section .blue-bg-container .blue-bg {
  margin-top: 30px;
  height: 1200px;
  width: 2500px;
  background-color: #217DA1;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 475, ../sass/style.scss */
#slide7 .blue-bg-container {
  overflow: hidden;
  z-index: -1;
  height: 600px;
}
/* line 481, ../sass/style.scss */
#slide7 .paypal {
  width: 300px;
  margin: auto;
}
/* line 485, ../sass/style.scss */
#slide7 .paypal .form {
  max-height: 150px;
}
/* line 489, ../sass/style.scss */
#slide7 .paypal .image-button {
  width: 120px;
  margin: auto;
}
/* line 497, ../sass/style.scss */
#slide7 .blue-bg {
  margin-top: 135px;
  height: 1200px;
  width: 2500px;
  background-color: #217DA1;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 507, ../sass/style.scss */
#slide7 .content {
  position: absolute;
  top: 30px;
  left: 150px;
}
/* line 513, ../sass/style.scss */
#slide7 .top {
  position: relative;
  height: 300px;
}
/* line 518, ../sass/style.scss */
#slide7 .top .yellow {
  width: 546px;
  height: 150px;
  left: 100px;
  background-image: url("../images/yellow-text-area-with-border.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 100;
}
/* line 527, ../sass/style.scss */
#slide7 .top .yellow .text {
  width: 380px;
  position: absolute;
  top: 25px;
  left: 80px;
  line-height: normal;
  font-family: Bebas;
  font-size: 30px;
  color: white;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
}
/* line 543, ../sass/style.scss */
#slide7 .top .black {
  width: 780px;
  height: 158px;
  background-image: url("../images/black-text-area.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 105px;
}
/* line 551, ../sass/style.scss */
#slide7 .top .black .text {
  line-height: normal;
  color: white;
  font-size: 23px;
  top: 40px;
  position: absolute;
  left: 37px;
  width: 685px;
}
/* line 560, ../sass/style.scss */
#slide7 .top .black .text span {
  color: #E6C631;
}
/* line 567, ../sass/style.scss */
#slide7 .bottom {
  position: absolute;
  top: 230px;
  width: 750px;
}
/* line 572, ../sass/style.scss */
#slide7 .bottom > div {
  margin: auto;
  margin-bottom: 20px;
  padding: 0px 5px 0px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
    Now, when we have all the steps styled let's give users a hint how to navigate
    around the presentation.

    The best way to do this would be to use JavaScript, show a delayed hint for a
    first time users, then hide it and store a status in cookie or localStorage...

    But I wanted to have some CSS fun and avoid additional scripting...

    Let me explain it first, so maybe the transition magic will be more readable
    when you read the code.

    First of all I wanted the hint to appear only when user is idle for a while.
    You can't detect the 'idle' state in CSS, but I delayed a appearing of the
    hint by 5s using transition-delay.

    You also can't detect in CSS if the user is a first-time visitor, so I had to
    make an assumption that I'll only show the hint on the first step. And when
    the step is changed hide the hint, because I can assume that user already
    knows how to navigate.

    To summarize it - hint is shown when the user is on the first step for longer
    than 5 seconds.

    The other problem I had was caused by the fact that I wanted the hint to fade
    in and out. It can be easily achieved by transitioning the opacity property.
    But that also meant that the hint was always on the screen, even if totally
    transparent. It covered part of the screen and you couldn't correctly clicked
    through it.
    Unfortunately you cannot transition between display `block` and `none` in pure
    CSS, so I needed a way to not only fade out the hint but also move it out of
    the screen.

    I solved this problem by positioning the hint below the bottom of the screen
    with CSS transform and moving it up to show it. But I also didn't want this move
    to be visible. I wanted the hint only to fade in and out visually, so I delayed
    the fade in transition, so it starts when the hint is already in its correct
    position on the screen.

    I know, it sounds complicated ... maybe it would be easier with the code?
*/
/* line 624, ../sass/style.scss */
.hint {
  /*
      We hide the hint until presentation is started and from browsers not supporting
      impress.js, as they will have a linear scrollable view ...
  */
  display: none;
  /*
      ... and give it some fixed position and nice styles.
  */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: #EEE;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  z-index: 100;
  /*
      By default we don't want the hint to be visible, so we make it transparent ...
  */
  opacity: 0;
  /*
      ... and position it below the bottom of the screen (relative to it's fixed position)
  */
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
  /*
      Now let's imagine that the hint is visible and we want to fade it out and move out
      of the screen.

      So we define the transition on the opacity property with 1s duration and another
      transition on transform property delayed by 1s so it will happen after the fade out
      on opacity finished.

      This way user will not see the hint moving down.
  */
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0s, 1s;
  -moz-transition: opacity 1s 0s, -moz-transform 0.5s 1s;
  -o-transition: opacity 1s 0s, -o-transform 0.5s 1s;
  transition: opacity 1s 0s, transform 0.5s 1s;
}

/*
    Now we 'enable' the hint when presentation is initialized ...
*/
/* line 674, ../sass/style.scss */
.impress-enabled .hint {
  display: block;
}

/*
    ... and we will show it when the first step (with id 'bored') is active.
*/
/* line 679, ../sass/style.scss */
.impress-on-slide1 .hint {
  /*
      We remove the transparency and position the hint in its default fixed
      position.
  */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  /*
      Now for fade in transition we have the oposite situation from the one
      above.

      First after 4.5s delay we animate the transform property to move the hint
      into its correct position and after that we fade it in with opacity
      transition.
  */
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  -webkit-transition-delay: 2s, 1.5s;
  -moz-transition: opacity 1s 2s, -moz-transform 0.5s 1.5s;
  -o-transition: opacity 1s 2s, -o-transform 0.5s 1.5s;
  transition: opacity 1s 2s, transform 0.5s 1.5s;
}

/* line 699, ../sass/style.scss */
.impress-enabled {
  pointer-events: none;
}

/* line 703, ../sass/style.scss */
.impress-enabled #impress {
  pointer-events: auto;
}
